@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Jura:wght@300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: Jura;
}

h2 {
    font-family: Jura;
}

.d-none {
    display: none;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

.container-img {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.container-img-2 {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}

.visible-motivator {
    visibility: visible;
    opacity: 1;
    transition: all 12s linear;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center {
    position: relative;
    left: 50%;
}

.six-orang {
    width: 25rem;
    height: 20rem;
}

.main-content-image {
    width: 15rem;
    height: 10rem;
    object-fit: contain;
}

.story-board-image {
    width: 25rem;
    height: 15rem;
    object-fit: contain;
}

.story-board-kata {
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
}

.content-ashe {
    position: relative;
    top: 39rem;
    left: 20rem;
    padding: 1rem;
    margin: 1rem;
    width: 15rem;
    height: 5rem;
}

.content-blake {
    position: relative;
    top: 10rem;
    left: 25rem;
    padding: 1rem;
    margin: 1rem;
    width: 15rem;
    height: 5rem;
}

.content-robin {
    position: relative;
    top: -10rem;
    left: 49%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    margin: 1rem;
    width: 15rem;
    height: 5rem;
}

.content-eleanor {
    position: relative;
    top: -2.8rem;
    left: 69%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    margin: 1rem;
    width: 15rem;
    height: 5rem;
}

.content-ralph {
    position: relative;
    top: 10rem;
    left: 75%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    margin: 1rem;
    width: 15rem;
    height: 5rem;
}

.align-center {
    text-align: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.d-flex,
.flex-column {
    display: flex;
    flex-direction: column;
}

.image-2 {
    position: relative;
    top: -15rem;
    left: -8rem;
    z-index: 2;
}

.image-3 {
    position: relative;
    top: -28rem;
    left: 28rem;
}

.image-4 {
    position: relative;
    top: -28rem;
    left: 7rem;
}

.image-5 {
    position: relative;
    top: -30rem;
    left: -5rem;
}

.image-6 {
    position: relative;
    top: -30rem;
    left: -26rem;
}

/* tablet responsive */
@media (max-width: 768px) {
    .story-board-image {
      width: 15rem;
      height: 23rem;
      object-fit: contain;
    }
  
    .story-board-kata {
      font-size: 1.2rem;
      font-weight: 600;
      margin-top: 8.7rem;
      color: #000;
    }
  
    .image-2 {
      position: relative;
      top: -25rem;
      left: 0.1rem;
      z-index: 2;
    }
  
    .six-orang {
      width: 15rem;
      height: 10rem;
    }
  
    .image-3 {
      position: relative;
      top: -45rem;
      left: 25rem;
      height: 10rem;
    }
  
    .image-4 {
      position: relative;
      top: -45rem;
      left: -2rem;
      height: 10rem;
    }
  
    .image-5 {
      position: relative;
      top: -47rem;
      left: -10rem;
      height: 10rem;
    }
  
    .image-6 {
      position: relative;
      top: -46.5rem;
      left: -8rem;
      height: 10rem;
    }
  }

@media (max-width: 425px) {
    .story-board-image {
      width: 13rem;
      height: 9sssrem;
      object-fit: contain;
    }
  
    .story-board-kata {
      font-size: 1.2rem;
      font-weight: 600;
      color: #000;
    }
  
    .six-orang {
      width: 15rem;
      height: 10rem;
    }
  
    .image-3 {
      position: relative;
      top: -28rem;
      left: 17rem;
    }
  
    .image-4 {
      position: relative;
      top: -27rem;
      left: -25rem;
    }
  
    .image-5 {
      position: relative;
      top: -30rem;
      left: -4rem;
    }
  
    .image-6 {
      position: relative;
      top: -30rem;
      left: -15rem;
    }
}